.login-visual-footer {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 15px;
    color: #cbd5e1;
    font-size: 10px;
}
.login-visual-footer span {
    display: flex;
    align-items: center;
    gap: 6px;
}
.login-visual-footer i {
    color: #60a5fa;
}
