.stayflow-content {
    width: min(100%, 760px);
    margin: 0 auto;
    padding: 22px 16px 105px;
}
@media (min-width: 768px) {
    .stayflow-content {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (min-width: 992px) {
    .stayflow-content {
        width: min(100%, 1000px);
    }
    .stayflow-header-inner {
        width: min(100%, 1000px);
    }
}
